* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.top-section {
  background-image: url("https://images4.alphacoders.com/138/1386594.jpg");
  background-size: cover;
  background-position: center-center;
  object-fit: cover;
  height: 620px;
}
.top-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 620px;
  background-color: rgba(0, 0, 0, 0.462);
}
.back-img {
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
}
.back-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
}
//SWAL
.swal2-popup.wishlist-popup {
  background: rgb(17, 17, 17) !important;
  color: white !important;
  border-radius: 12px !important;
  padding: 20px !important;
}

.swal2-title.wishlist-title {
  font-size: 25px !important;
  font-weight: bold !important;
  color: #ff4701 !important;
}

.swal2-html-container.wishlist-text {
  font-size: 18px !important;
  color: #ccc !important;
}

.swal2-confirm.wishlist-button {
  background-color: #ff4701 !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
  transition: 0.3s !important;
}

.swal2-confirm.wishlist-button:hover {
  background-color: white !important;
  color: #ff4701 !important;
}

//LOADER
.load {
  min-height: 80vh;
}
//MOTION
.motion {
  background-color: #ff490197;
  font-weight: 500;
}


