* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//HEADER.JSX
.head {
  background-color: #001128;
  .img-logo {
    width: 40px;
  }
  .moon {
    border: none;
    background-color: #001128;
    color: white;
    font-size: 17px;
  }
  .dropdown-toggle {
    border: none;
    background-color: #001128;
    color: white;
  }
  .custom-dropdown-menu {
    min-width: 70px !important;
    z-index: 1050 !important;
  }
  .user {
    color: white;
    background-color: #505c6b;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 15px;
  }
  .img-lang {
    width: 20px;
    height: 25px;
  }
}
//NAVBAR.JSX
.navbar {
  font-family: "Barlow", serif;
  background-color: #000d1f;
  .page {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.4s ease;
  }
  .page:hover {
    color: #ff4701;
  }
  .active {
    color: #ff4701;
    text-decoration: none;
    font-weight: 500;
  }
  .icon {
    border: none;
    background-color: #000d1f;
    color: white;
    transition: color 0.4s ease;
  }
  .icon:hover {
    color: #ff4701;
  }
  .badge {
    background-color: #ff4701;
    font-size: 10px;
  }

  .custom-search {
    border-radius: 15px !important;
    border: none !important;
    background-color: #7d7d7d;
  }
  input::placeholder {
    padding: 10px;
  }
  #exampleModalLabel {
    color: white !important;
  }
  .search {
    background-color: #7d7d7da2 !important;
  }
}
// FOOTER.JSX
.footer {
  font-family: "Barlow", serif;
  background-color: #000d1f;
  img {
    width: 80px;
  }
  p {
    color: white;
  }
  .game {
    font-size: 17px;
    span {
      font-weight: bold;
    }
  }
  h5 {
    color: white;
  }
  .menu {
    color: white;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  .menu:hover {
    color: #ff4701;
  }
  .active {
    color: #ff4701;
    text-decoration: none;
  }
  .icon {
    font-size: 19px;
    color: white;
    padding: 8px;
    transition: color 0.4s ease;
    cursor: pointer;
  }
  .icon:hover {
    color: #ff4701;
  }
}
//ABOUT.JSX
.about {
  background-color: #001128;
  .container-fluid {
    .descript {
      color: white;
      span {
        color: #ff4701;
      }
    }
    .middle {
      img {
        width: 82%;
        border-radius: 10px;
      }
      p {
        color: rgba(255, 255, 255, 0.603);
      }
    }
    .team {
      color: white;
      p {
        color: rgba(255, 255, 255, 0.603);
      }
      img {
        width: 340px;
        border-radius: 10px;
      }
    }
  }
}
//DISCOVER.JSX
.discover {
  background-color: #001128;
  .first {
    .carousel-item {
      position: relative;
    }
    .carousel-item::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.428);
      border-radius: 7px;
    }
    .carousel-inner {
      height: 650px; 
    }
   
    .carousel-item img {
      height: 100%; 
    }
    
    .carousel-caption {
      height: 100%;
    }
    
    p{
      font-size: 20px;
    }
    .wish{
      border: none;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      width: 300px;
      border-radius: 15px;
      color: white;
      font-weight: 400;
    }
    .add{
      border: none;
      background-color:#ff4701;
      width: 150px;
      border-radius: 15px;
      color: white;
      font-weight: 400;
    }
  }
  .popular{
    color: white;
  }
}
.popularity{
.price{
  font-weight: bold;
}
  .add{
    border: none;
    background-color:#ff4701;
    width: 90px;
    border-radius: 15px;
    color: white;
    font-weight: 500;
  }
  .product-slide{
    position: relative;
    img{
      width: 270px;
      height: 330px;
      border-radius: 10px;
    }
  }
  .body{
    position: absolute;
    top: 210px;
    color: white;
  }
 
  .product-slide::before{
    content: "";
    position: absolute;
    top: 190px;
    width: 270px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.503);
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(5px);
    border-radius: 0px 0px 10px 10px;
  }
}

.modal-content {
  background-color: #000d1f !important;
}
#close {
  background-color: white !important;
}


@media (min-width: 0px) and (max-width: 576px) {
  .carousel-control-prev{
    height: 300px;
  }
  .carousel-control-next{
    height: 300px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .carousel-control-prev{
    height: 370px;
  }
  .carousel-control-next{
    height: 370px;
  }
}



.slick-prev {
  font-size: 24px;
  background:#000d1f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -57px;
  left: 1100px;
}
.slick-next {
  font-size: 24px;
  color: white;
  background: #000d1f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -57px;
  right: 30px;
}
