* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top-section {
  background-image: url("https://images4.alphacoders.com/138/1386594.jpg");
  background-size: cover;
  background-position: center-center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 620px;
}

.top-section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.462);
}

.top-section-about {
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-position: center-center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 620px;
}

.top-section-detail {
  background-color: transparent;
  background-image: none;
}

.back-img {
  position: relative;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.back-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
}

.popularity img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
}
.popularity .add {
  border: none;
  background-color: #ff4701;
  width: 100px;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  height: 40px;
  font-size: 13px;
}

.slick-prev {
  font-size: 24px;
  background: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -57px;
  left: 1100px;
}

.slick-next {
  font-size: 24px;
  color: white;
  background: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -57px;
  right: 30px;
}

.product-slide {
  position: relative;
}

.product-slide::before {
  content: "";
  position: absolute;
  top: 170px;
  width: 250px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.503);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0px 0px 10px 10px;
}

.popularity {
  position: relative;
}
.popularity .name {
  font-weight: 600;
}
.popularity .discount {
  background-color: white;
  color: #ff4701;
  width: 50px;
  border-radius: 10px;
}
.popularity .prevprice {
  color: #d7d7d7;
  font-weight: 600;
}

.popularity:hover .heart {
  opacity: 1;
  visibility: visible;
}

.contact {
  background-color: black;
  color: white;
}
.contact .info {
  background-color: rgba(255, 255, 255, 0.089);
  width: 80%;
  border-radius: 10px;
}
.contact h5 {
  border-bottom: 1px solid rgba(128, 128, 128, 0.473);
  width: 86%;
}
.contact .num {
  width: 100%;
}
.contact p:nth-child(1) {
  color: rgba(128, 128, 128, 0.747);
}
.contact .cc {
  font-size: 16px;
  color: rgb(177, 176, 176);
}

.second-conc {
  background-color: rgba(255, 255, 255, 0.089);
  width: 80%;
  border-radius: 10px;
  position: relative;
  left: 100px;
}
.second-conc .conc-header {
  width: 73%;
}
.second-conc .conc-header h2 {
  color: #ff4701;
}
.second-conc input {
  width: 350px;
  height: 50px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  outline: none;
  font-size: 16px; /* Consistent text size */
  line-height: 50px;
  caret-color: #ff4701;
  text-indent: 10px;
  color: white;
}
.second-conc textarea {
  border: none;
  height: 50px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.212);
  outline: none;
  font-size: 16px; /* Consistent text size */
  line-height: 50px;
  caret-color: #ff4701;
  text-indent: 10px;
  resize: vertical; /* Allows users to expand if needed */
  overflow-y: auto;
  color: white; /* Enables scrolling when content overflows */
}
.second-conc textarea {
  overflow: auto; /* Keeps scrolling */
  scrollbar-width: none; /* For Firefox */
}
.second-conc textarea::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}
.second-conc button {
  width: 150px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  background-color: #ff4701;
  color: white;
  border: none;
  border-radius: 16px;
}
.second-conc .input-wrapper:focus-within label {
  color: #ff4701 !important;
}

.login-user {
  background-color: black;
  min-height: 100vh;
}
.login-user .log-col h2 {
  font-weight: 600;
}
.login-user .log-col input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Removes default checkbox styles */
  width: 12px;
  height: 12px;
  background-color: #dbdbdb; /* Default background */
  border-radius: 3px; /* Optional */
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.login-user .log-col input[type=checkbox]:checked {
  background-color: #ff4701 !important; /* Background color when checked */
}
.login-user .log-col input::-moz-placeholder {
  color: #a0a0a0; /* Lighter gray for placeholder text */
  font-size: 16px;
  opacity: 1;
}
.login-user .log-col input::placeholder {
  color: #a0a0a0; /* Lighter gray for placeholder text */
  font-size: 16px;
  opacity: 1;
}
.login-user .log-col input {
  height: 43px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 6px;
  border-left: none;
  outline: none;
  font-size: 16px; /* Consistent text size */
  line-height: 50px;
  caret-color: #f13d45;
  text-indent: 10px;
  background-color: rgba(255, 255, 255, 0.089) !important;
  color: white;
}
.login-user .log-col input:focus {
  border: 1px solid #f13d45;
  border-left: none;
}
.login-user .log-col .check {
  border: 1px solid rgba(255, 255, 255, 0.089);
}
.login-user .log-col .check:focus {
  border: 1px solid rgba(255, 255, 255, 0.089) !important;
}
.login-user .log-col button {
  background-color: #ff4701;
  width: 100%;
  height: 43px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.login-user .log-col button:hover {
  background-color: transparent;
  border: 2px solid #ff4701;
  color: #f13d45;
  transition: background-color 0.3s ease;
}
.login-user .log-col p {
  font-size: 17px;
}
.login-user .log-col .sign-link {
  text-decoration: none;
  color: #ba232f;
  font-weight: 500;
}
.login-user .log-col label {
  font-weight: 450;
}
.login-user .log-col .pass {
  width: 370px;
}
.login-user .log-col .check {
  border: 1px solid rgba(255, 255, 255, 0.089);
}
.login-user .error {
  color: #ff4701;
}
.login-user .middle {
  background-color: rgba(255, 255, 255, 0.089);
  width: 480px;
  height: 530px;
  border-radius: 10px;
  color: white;
}
.login-user .input-group:focus-within .lock-pass {
  border-color: #f13d45 !important;
}
.login-user .lock-pass {
  background-color: rgba(255, 255, 255, 0.089) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.089) !important;
  border-left: none;
  cursor: pointer;
  color: #9f9d9d;
}
.login-user .right {
  border-left: none !important;
}
.login-user .orange {
  color: #ff4701;
  text-decoration: none;
}

.register {
  background-color: black;
  min-height: 140vh;
}
.register .log-col input {
  width: 380px;
  height: 45px;
  border: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 6px;
  border-left: none;
  outline: none;
  font-size: 16px; /* Consistent text size */
  line-height: 50px;
  caret-color: #f13d45;
  text-indent: 10px;
  background-color: rgba(255, 255, 255, 0.089) !important;
  color: white;
}
.register .log-col input::-moz-placeholder {
  color: #a0a0a0; /* Lighter gray for placeholder text */
  font-size: 16px;
  opacity: 1;
}
.register .log-col input::placeholder {
  color: #a0a0a0; /* Lighter gray for placeholder text */
  font-size: 16px;
  opacity: 1;
}
.register .pass-three {
  width: 430px;
}
.register .pass {
  width: 420px;
}
.register input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Removes default checkbox styles */
  width: 12px;
  height: 12px;
  background-color: #dbdbdb; /* Default background */
  border-radius: 3px; /* Optional */
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.register input[type=checkbox]:checked {
  background-color: #ff4701 !important; /* Background color when checked */
}
.register input:focus {
  border: 1px solid #f13d45;
  border-left: none;
}
.register p {
  color: rgba(255, 255, 255, 0.305);
}
.register button {
  background-color: #ff4701;
  width: 100%;
  height: 45px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.register button:hover {
  background-color: transparent;
  border: 2px solid #ff4701;
  color: #f13d45;
  transition: background-color 0.3s ease;
}
.register .end {
  font-size: 17px;
  color: white;
}
.register .sign-link {
  text-decoration: none;
  color: #ba232f;
  font-weight: 500;
}
.register label {
  font-weight: 450;
}
.register .check {
  border: 1px solid #3b444f;
}
.register .lock-pass {
  background-color: rgba(255, 255, 255, 0.089) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.089) !important;
  border-left: none;
  cursor: pointer;
  color: #9f9d9d;
}
.register .right {
  border-left: none !important;
}
.register .orange {
  color: #ff4701;
  text-decoration: none;
}
.register .middle {
  background-color: rgba(255, 255, 255, 0.089);
  width: 600px;
  height: 760px;
  border-radius: 10px;
  color: white;
}
.register .input-group:focus-within .lock-pass {
  border-color: #f13d45 !important;
}

.wishlist {
  background-color: black;
  color: white;
}
.wishlist h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  font-size: 45px;
}
.wishlist img {
  width: 150px;
  border-radius: 10px;
}
.wishlist .wishlist-detail {
  background-color: rgba(255, 255, 255, 0.089);
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.wishlist .wishlist-detail button {
  width: 140px;
  height: 35px;
}
.wishlist .wishlist-detail .prop {
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 110px;
  font-size: 15px;
  border-radius: 20px;
}
.wishlist .wishlist-detail .genre {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.425);
  font-weight: 600;
}
.wishlist .wishlist-detail .remove {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.531);
}
.wishlist .wishlist-detail .add {
  border: none;
  background-color: #ff4701;
  width: 130px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.4s ease;
}
.wishlist .wishlist-detail .add:hover {
  background-color: white;
  color: #ff4701;
}
.wishlist .wishlist-detail .prev {
  font-size: 17px;
  color: #979696;
}
.wishlist .wishlist-detail .price {
  font-size: 23px;
}
.wishlist .wishlist-detail .star-p {
  font-size: 18px;
}
.wishlist .wishlist-detail .star-p .star {
  font-size: 17px;
  color: yellow;
}
.wishlist .wishlist-detail .remove {
  color: white;
  font-size: 20px;
  background-color: rgba(157, 156, 156, 0.418);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.wishlist .wishlist-detail .desc {
  color: #979696;
  font-weight: 500;
}
.wishlist .wishlist-detail .remove:hover {
  background-color: white;
  color: #ff4701;
}
.wishlist .clear {
  width: 150px;
  height: 43px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  color: #ff4701;
  font-weight: 600;
  background-color: white;
  transition: background-color 0.4s ease;
}
.wishlist .clear:hover {
  color: white;
  background-color: #ff4701;
}
.wishlist .empty {
  color: rgba(255, 255, 255, 0.507);
  font-weight: 600;
}
.wishlist .shop {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 200px;
  height: 45px;
  border: none;
  background-color: #ff4701;
  border-radius: 17px;
  transition: background-color 0.4s ease;
}
.wishlist .shop:hover {
  background-color: white;
  color: #ff4701;
}
.wishlist .text {
  color: rgba(255, 255, 255, 0.507) !important;
}
.wishlist .order-summary {
  background-color: rgba(255, 255, 255, 0.089);
  height: 350px;
  border-radius: 10px;
}
.wishlist .order-summary .icon-max {
  font-size: 25px !important;
}
.wishlist .order-summary input {
  width: 200px;
  border: none;
  outline: none;
  border-radius: 0px 10px 10px 0px;
  height: 40px;
  line-height: 50px;
  caret-color: #f13d45;
}
.wishlist .order-summary .input-group {
  border-radius: 10px !important;
}
.wishlist .order-summary p {
  font-size: 18px;
  font-weight: 600;
}
.wishlist .order-summary .discount {
  color: #ff4701;
}
.wishlist .order-summary .apply {
  width: 90px;
  height: 40px;
  border-radius: 13px;
  color: #ff4701;
  background-color: white;
  border: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.wishlist .order-summary .apply:hover {
  color: white;
  background-color: #ff4701;
  border: none;
  font-weight: 600;
}
.wishlist .order-summary span {
  font-size: 20px;
  background-color: white;
  color: #7d7d7d;
  border-radius: 10px 0px 0px 10px;
}
.wishlist .order-summary .checkout {
  background-color: #ff4701;
  width: 100%;
  height: 45px;
  border-radius: 7px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.wishlist .order-summary .checkout:hover {
  background-color: white;
  border: 2px solid #ff4701;
  color: #f13d45;
  transition: background-color 0.3s ease;
}
.wishlist .img-order img {
  width: 350px;
  height: 150px;
}

.image-2 {
  width: 390px !important;
}

.col-second span {
  font-size: 19px;
}

.game-head-about {
  color: #ff4701 !important;
  font-size: 30px !important;
}

.notfound {
  min-height: 90vh;
  background-color: black;
}
.notfound h1 {
  font-size: 150px;
}
.notfound p {
  font-size: 60px;
  color: rgba(255, 255, 255, 0.462);
}
.notfound .link-add {
  font-size: 20px;
}
.notfound .buy {
  width: 200px;
}

/* Animation Effects */
.swal2-popup.wishlist-popup {
  background: rgb(17, 17, 17) !important;
  color: white !important;
  border-radius: 12px !important;
  padding: 20px !important;
}

.swal2-title.wishlist-title {
  font-size: 25px !important;
  font-weight: bold !important;
  color: #ff4701 !important;
}

.swal2-html-container.wishlist-text {
  font-size: 18px !important;
  color: #ccc !important;
}

.swal2-confirm.wishlist-button {
  background-color: #ff4701 !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-weight: bold !important;
  transition: 0.3s !important;
}

.swal2-confirm.wishlist-button:hover {
  background-color: white !important;
  color: #ff4701 !important;
}/*# sourceMappingURL=style.css.map */