//blog
.blog{
    background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
  .first,.sixth{
    background-color: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 14px;
  }
  span{
    color: rgba(255, 255, 255, 0.435);
  }
  img{
    border-radius: 10px;
    width: 340px;
    height: 230px;
  }
  .card{
    background-color: transparent;
    color: white;
    border: none!important;
    p{
        color: rgba(255, 255, 255, 0.435);
    }
  }
  .date-blog{
    color: white;
  }
}

.blog-detail{
  background-color: black;
  color: rgba(255, 255, 255, 0.955);

  img{
    width: 100%;
    max-width: 100%;
    border-radius: 20px;
  }
  .arrow-icon{
    background-color: #ff4701 ;
    color: rgba(255, 255, 255, 0.832);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .desc{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.716)
  }
  .about{
    color: #ff4701;
  }
 
}



.light-app{
  .blog{
    background-color: #f7f4fa;
    
    .first{
      background-color: #dddbdb7d;
      backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(5px);
        border-radius: 14px;
        span{
          color: rgba(88, 88, 88, 0.723);
        }
      }
      .card-title{
        color: black;
      }
      .card-text{

        color: black;
      }
      .date-blog{
        color: black;
      }
  }
}