.login-user {
  background-color: black;
  min-height: 100vh;
  .log-col {
    h2 {
      font-weight: 600;
    }

    input::placeholder {
      color: #a0a0a0; /* Lighter gray for placeholder text */
      font-size: 16px;
      opacity: 1;
    }
    input {
      height: 43px;
      border: 1px solid rgba(255, 255, 255, 0.089);
      border-radius: 6px;
      border-left: none !important;
      outline: none;
      font-size: 16px; /* Consistent text size */
      line-height: 50px;
      caret-color: #f13d45;
      text-indent: 10px;
      background-color: rgba(255, 255, 255, 0.089) !important;
      color: white;
    }
    input:focus {
      border: 1px solid #f13d45;
    }

    button {
      background-color: #ff4701;
      width: 100%;
      height: 43px;
      border-radius: 7px;
      border: none;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
    button:hover {
      background-color: transparent;
      border: 2px solid #ff4701;
      color: #f13d45;
      transition: background-color 0.3s ease;
    }
    p {
      font-size: 17px;
    }
    .sign-link {
      text-decoration: none;
      color: #ba232f;
      font-weight: 500;
    }
    label {
      font-weight: 450;
    }
    .pass {
      width: 370px;
    }
    .check {
      border: 1px solid rgba(255, 255, 255, 0.089);
    }
  }
  .error {
    color: #ff4701;
  }
  .middle {
    background-color: rgba(255, 255, 255, 0.089);
    width: 480px;
    height: 460px;
    border-radius: 10px;
    color: white;
  }
  .input-group:focus-within .lock-pass {
    border-color: #f13d45 !important;
  }

  .lock-pass {
    background-color: rgba(255, 255, 255, 0.089) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.089) !important;
    border-left: none;
    cursor: pointer;
    color: #9f9d9d;
  }
  .right {
    border-left: none !important;
  }
  .orange {
    color: #ff4701;
    text-decoration: none;
  }
}

.register {
  background-color: black;
  min-height: 140vh;

  .error {
    color: #ff4701;
  }

  .log-col {
    input {
      width: 380px;
      height: 45px;
      border: 1px solid rgba(255, 255, 255, 0.089);
      border-radius: 6px;
      border-left: none;
      outline: none;
      font-size: 16px; /* Consistent text size */
      line-height: 50px;
      caret-color: #f13d45;
      text-indent: 10px;
      background-color: rgba(255, 255, 255, 0.089) !important;
      color: white;
    }
    input::placeholder {
      color: #a0a0a0; /* Lighter gray for placeholder text */
      font-size: 16px;
      opacity: 1;
    }
  }
  .pass-three {
    width: 430px;
  }
  .pass {
    width: 420px;
  }

  input[type="checkbox"] {
    appearance: none; /* Removes default checkbox styles */
    width: 12px;
    height: 12px;
    background-color: #dbdbdb; /* Default background */
    border-radius: 3px; /* Optional */
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: #ff4701 !important; /* Background color when checked */
  }
  input:focus {
    border: 1px solid #f13d45;
    border-left: none;
  }
  p {
    color: rgba(255, 255, 255, 0.305);
  }
  button {
    background-color: #ff4701;
    width: 100%;
    height: 45px;
    border-radius: 7px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
  }
  button:hover {
    background-color: transparent;
    border: 2px solid #ff4701;
    color: #f13d45;
    transition: background-color 0.3s ease;
  }
  .end {
    font-size: 17px;
    color: white;
  }
  .sign-link {
    text-decoration: none;
    color: #ba232f;
    font-weight: 500;
  }
  label {
    font-weight: 450;
  }
  .check {
    border: 1px solid #3b444f;
  }
  .lock-pass {
    background-color: rgba(255, 255, 255, 0.089) !important;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.089) !important;
    border-left: none;
    cursor: pointer;
    color: #9f9d9d;
  }
  .right {
    border-left: none !important;
  }
  .orange {
    color: #ff4701;
    text-decoration: none;
  }
  .middle {
    background-color: rgba(255, 255, 255, 0.089);
    width: 600px;
    height: 810px;
    border-radius: 10px;
    color: white;
  }
  .input-group:focus-within .lock-pass {
    border-color: #f13d45 !important;
  }
}

.light-app {
  .login-user {
    background-color: #f5f7fa;
    min-height: 100vh;
    .log-col {
      h2 {
        font-weight: 600;
      }

      input::placeholder {
        color: #a0a0a0; /* Lighter gray for placeholder text */
        font-size: 16px;
        opacity: 1;
      }
      input {
        color: black;
        height: 43px;
        border: 1px solid rgba(255, 255, 255, 0.089);
        border-radius: 6px;
        border-left: none;
        outline: none;
        font-size: 16px; /* Consistent text size */
        line-height: 50px;
        caret-color: #f13d45;
        text-indent: 10px;
        background-color: rgba(255, 255, 255, 0.527) !important;
      }
      input:focus {
        border: 1px solid #f13d45;
      }
    
      p {
        font-size: 17px;
      }
      .sign-link {
        text-decoration: none;
        color: #ba232f;
        font-weight: 500;
      }
      label {
        font-weight: 450;
      }
      .pass {
        width: 370px;
      }
      .check {
        border: 1px solid rgba(255, 255, 255, 0.089);
      }
    }
    .error {
      color: #ff4701;
    }
    .middle {
      background-color: rgba(29, 28, 28, 0.199);
      width: 480px;
      height: 530px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
    }
    .input-group:focus-within .lock-pass {
      border-color: #f13d45 !important;
    }
    .lock-pass {
      background-color: rgba(255, 255, 255, 0.527) !important;
      border: 1px solid rgba(255, 255, 255, 0.089) !important;
      border-left: none;
      cursor: pointer;
      color: #000000!important;
    }
    .right {
      border-left: none !important;
    }
    .orange {
      color: #ff4701;
      text-decoration: none;
    }
  }

  .register {
    background-color: #f5f7fa;
    min-height: 140vh;

    .error {
      color: #ff4701;
    }

    .log-col {
      input {
        width: 380px;
        height: 45px;
        border: 1px solid rgba(255, 255, 255, 0.089);
        border-radius: 6px;
        border-left: none;
        outline: none;
        font-size: 16px; /* Consistent text size */
        line-height: 50px;
        caret-color: #f13d45;
        text-indent: 10px;
        background-color: rgba(255, 255, 255, 0.527) !important;
        color: rgb(0, 0, 0);
      }
      input::placeholder {
        color: #a0a0a0; /* Lighter gray for placeholder text */
        font-size: 16px;
        opacity: 1;
      }
    }
    .pass-three {
      width: 430px;
    }
    .pass {
      width: 420px;
    }

    input[type="checkbox"] {
      appearance: none; /* Removes default checkbox styles */
      width: 12px;
      height: 12px;
      background-color: #dbdbdb; /* Default background */
      border-radius: 3px; /* Optional */
      cursor: pointer;
      display: inline-block;
      position: relative;
    }

    input[type="checkbox"]:checked {
      background-color: #ff4701 !important; /* Background color when checked */
    }
    input:focus {
      border: 1px solid #f13d45;
      border-left: none;
    }
    p {
      color: rgba(0, 0, 0, 0.805);
    }
    button {
      background-color: #ff4701;
      width: 100%;
      height: 45px;
      border-radius: 7px;
      border: none;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
    button:hover {
      background-color: transparent;
      border: 2px solid #ff4701;
      color: #f13d45;
      transition: background-color 0.3s ease;
    }
    .end {
      font-size: 17px;
      color: white;
    }
    .sign-link {
      text-decoration: none;
      color: #ba232f;
      font-weight: 500;
    }
    label {
      font-weight: 450;
    }
    .check {
      border: 1px solid #3b444f;
    }
    .lock-pass {
      background-color: rgba(255, 255, 255, 0.527) !important;
      border: 1px solid rgba(255, 255, 255, 0.089) !important;
      border-left: none;
      cursor: pointer;
      color: #000000!important;
    }
    .right {
      border-left: none !important;
    }
    .orange {
      color: #ff4701;
      text-decoration: none;
    }
    .middle {
      background-color: rgba(29, 28, 28, 0.199);
      width: 600px;
      height: 810px;
      border-radius: 10px;
      color: rgb(0, 0, 0);
    }
    .input-group:focus-within .lock-pass {
      border-color: #f13d45 !important;
    }
  }
}


.admin{
  min-height: 100vh!important;
}

@media(max-width:770px){
  .end{
    position: relative;
    top: 0px;
    left: -10px;
  }
  .login-user{

    .middle{

      height: 450px;
    }
  }
}

@media(max-width:430px){
  .login-user {
    background-color: black;
    min-height: 100vh;
    .log-col {
      h2 {
        font-weight: 600;
      }
  
      input::placeholder {
        color: #a0a0a0; /* Lighter gray for placeholder text */
        font-size: 16px;
        opacity: 1;
      }
      input {
        height: 40px;
        border: 1px solid rgba(255, 255, 255, 0.089);
        border-radius: 6px;
        border-left: none !important;
        outline: none;
        font-size: 16px; /* Consistent text size */
        line-height: 50px;
        caret-color: #f13d45;
        text-indent: 10px;
        background-color: rgba(255, 255, 255, 0.089) !important;
        color: white;
      }
      input:focus {
        border: 1px solid #f13d45;
      }
  
      button {
        background-color: #ff4701;
        width: 100%;
        height: 43px;
        border-radius: 7px;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
      }
      button:hover {
        background-color: transparent;
        border: 2px solid #ff4701;
        color: #f13d45;
        transition: background-color 0.3s ease;
      }
      p {
        font-size: 17px;
      }
      .sign-link {
        text-decoration: none;
        color: #ba232f;
        font-weight: 500;
      }
      label {
        font-weight: 450;
      }
      .pass {
        width: 370px;
      }
      .check {
        border: 1px solid rgba(255, 255, 255, 0.089);
      }
    }
    .error {
      color: #ff4701;
    }
    .middle {
      background-color: rgba(255, 255, 255, 0.089);
      width: 480px;
      height: 440px;
      border-radius: 10px;
      color: white;
    }
    .input-group:focus-within .lock-pass {
      border-color: #f13d45 !important;
    }
  
    .lock-pass {
      background-color: rgba(255, 255, 255, 0.089) !important;
      color: white !important;
      border: 1px solid rgba(255, 255, 255, 0.089) !important;
      border-left: none;
      cursor: pointer;
      color: #9f9d9d;
    }
    .right {
      border-left: none !important;
    }
    .orange {
      color: #ff4701;
      text-decoration: none;
    }
  }
  
  .register {
    background-color: black;
    min-height: 140vh;
  
    .error {
      color: #ff4701;
    }
  
    .log-col {
      input {
        width: 300px;
        height: 45px;
        border: 1px solid rgba(255, 255, 255, 0.089);
        border-radius: 6px;
        border-left: none;
        outline: none;
        font-size: 16px; /* Consistent text size */
        line-height: 50px;
        caret-color: #f13d45;
        text-indent: 10px;
        background-color: rgba(255, 255, 255, 0.089) !important;
        color: white;
      }
      input::placeholder {
        color: #a0a0a0; /* Lighter gray for placeholder text */
        font-size: 16px;
        opacity: 1;
      }
    }
    .pass-three {
      width: 300px;
    }
    .pass {
      width: 300px;
    }
  
    input[type="checkbox"] {
      appearance: none; /* Removes default checkbox styles */
      width: 12px;
      height: 12px;
      background-color: #dbdbdb; /* Default background */
      border-radius: 3px; /* Optional */
      cursor: pointer;
      display: inline-block;
      position: relative;
    }
  
    input[type="checkbox"]:checked {
      background-color: #ff4701 !important; /* Background color when checked */
    }
    input:focus {
      border: 1px solid #f13d45;
      border-left: none;
    }
    p {
      color: rgba(255, 255, 255, 0.305);
    }
    button {
      background-color: #ff4701;
      width: 100%;
      height: 45px;
      border-radius: 7px;
      border: none;
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
    button:hover {
      background-color: transparent;
      border: 2px solid #ff4701;
      color: #f13d45;
      transition: background-color 0.3s ease;
    }
    .end {
      font-size: 17px;
      color: white;
    }
    .sign-link {
      text-decoration: none;
      color: #ba232f;
      font-weight: 500;
    }
    label {
      font-weight: 450;
    }
    .check {
      border: 1px solid #3b444f;
    }
    .lock-pass {
      background-color: rgba(255, 255, 255, 0.089) !important;
      color: white !important;
      border: 1px solid rgba(255, 255, 255, 0.089) !important;
      border-left: none;
      cursor: pointer;
      color: #9f9d9d;
    }
    .right {
      border-left: none !important;
    }
    .orange {
      color: #ff4701;
      text-decoration: none;
    }
    .middle {
      background-color: rgba(255, 255, 255, 0.089);
      width: 600px;
      height: 750px;
      border-radius: 10px;
      color: white;
    }
    .input-group:focus-within .lock-pass {
      border-color: #f13d45 !important;
    }
  }
  .light-app{
    .login-user{
      .middle{
        height: 440px;
      }
    }

    .register {
      background-color: #f5f7fa;
      min-height: 140vh;
  
      .error {
        color: #ff4701;
      }
  
      .log-col {
        input {
          width: 300px;
          height: 45px;
          border: 1px solid rgba(255, 255, 255, 0.089);
          border-radius: 6px;
          border-left: none;
          outline: none;
          font-size: 16px; /* Consistent text size */
          line-height: 50px;
          caret-color: #f13d45;
          text-indent: 10px;
          background-color: rgba(255, 255, 255, 0.527) !important;
          color: rgb(0, 0, 0);
        }
        input::placeholder {
          color: #a0a0a0; /* Lighter gray for placeholder text */
          font-size: 16px;
          opacity: 1;
        }
      }
      .pass-three {
        width: 300px;
      }
      .pass {
        width: 300px;
      }
  
      input[type="checkbox"] {
        appearance: none; /* Removes default checkbox styles */
        width: 12px;
        height: 12px;
        background-color: #dbdbdb; /* Default background */
        border-radius: 3px; /* Optional */
        cursor: pointer;
        display: inline-block;
        position: relative;
      }
  
      input[type="checkbox"]:checked {
        background-color: #ff4701 !important; /* Background color when checked */
      }
      input:focus {
        border: 1px solid #f13d45;
        border-left: none;
      }
      p {
        color: rgba(0, 0, 0, 0.805);
      }
      button {
        background-color: #ff4701;
        width: 100%;
        height: 45px;
        border-radius: 7px;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: 500;
      }
      button:hover {
        background-color: transparent;
        border: 2px solid #ff4701;
        color: #f13d45;
        transition: background-color 0.3s ease;
      }
      .end {
        font-size: 17px;
        color: white;
      }
      .sign-link {
        text-decoration: none;
        color: #ba232f;
        font-weight: 500;
      }
      label {
        font-weight: 450;
      }
      .check {
        border: 1px solid #3b444f;
      }
      .lock-pass {
        background-color: rgba(255, 255, 255, 0.527) !important;
        border: 1px solid rgba(255, 255, 255, 0.089) !important;
        border-left: none;
        cursor: pointer;
        color: #000000!important;
      }
      .right {
        border-left: none !important;
      }
      .orange {
        color: #ff4701;
        text-decoration: none;
      }
      .middle {
        background-color: rgba(29, 28, 28, 0.199);
        width: 600px;
        height: 810px;
        border-radius: 10px;
        color: rgb(0, 0, 0);
      }
      .input-group:focus-within .lock-pass {
        border-color: #f13d45 !important;
      }
      .end{
        position: relative;
        top: 0px;
      }
    }
  }
 
}