.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff4701;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    z-index: 999;
  }
  .scroll-to-top:hover {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #ff4701;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    z-index: 999;
    transition: background-color 0.3s ease    ;
  }
  .scroll-to-top.fade-in {
    opacity: 1;
  }
  
  @keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
  
    to {
        transform: translateY(0);
        opacity: 1;
    }
  }
  
  .scroll-to-top.fade-out {
    animation: fadeOut 0.5s forwards;
  }