.wishlist {
    background-color: black;
    color: white;
    height: 70vh;
  
    .row-wish {
      min-height: 70vh;
    }
    h4 {
      cursor: pointer;
    }
    h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
      font-size: 45px;
    }
  
    img {
      width: 150px!important;
      border-radius: 10px;
      height: 200px;
    }
    .wishlist-detail {
      background-color: rgba(255, 255, 255, 0.089);
      width: 100%;
      height: 250px;
      border-radius: 10px;
  
      button {
        width: 140px;
        height: auto;
      }
  
      .prop {
        background-color: rgba(255, 255, 255, 0.24);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        width: 110px;
        font-size: 15px;
        border-radius: 20px;
      }
      .genre {
        font-size: 17px;
        color: rgba(255, 255, 255, 0.425);
        font-weight: 600;
      }
      .remove {
        background-color: transparent;
        border: none;
        color: rgba(255, 255, 255, 0.531);
      }
      .add {
        border: none;
        background-color: #ff4701;
        width: 130px;
        border-radius: 15px;
        color: white;
        font-size: 15px;
        font-weight: 500;
        transition: background-color 0.4s ease;
      }
      .add:hover {
        background-color: white;
        color: #ff4701;
      }
      .prev {
        font-size: 17px;
        color: #979696;
      }
      .price {
        font-size: 23px;
      }
      .star-p {
        background-color: rgba(0, 0, 0, 0.503);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(5px);
        font-size: 18px;
        border-radius: 20px;
        .star {
          font-size: 15px;
          color: yellow;
        }
      }
      .star-b {
        background-color: rgba(0, 0, 0, 0.503);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(5px);
        font-size: 18px;
        border-radius: 20px;
        // width: 60px;
        .star {
          font-size: 15px;
          color: yellow;
        }
      }
      .remove {
        color: white;
        font-size: 20px;
        background-color: rgba(157, 156, 156, 0.418);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
      }
      .desc {
        color: #979696;
        font-weight: 500;
      }
      .remove:hover {
        background-color: white;
        color: #ff4701;
      }
    }
    .clear {
      width: 150px;
      height: auto;
      border: none;
      border-radius: 15px;
      font-size: 18px;
      color: #ff4701;
      font-weight: 600;
      background-color: white;
      transition: background-color 0.4s ease;
    }
    .clear:hover {
      color: white;
      background-color: #ff4701;
    }
    .empty {
      color: rgba(255, 255, 255, 0.507);
      font-weight: 600;
    }
    .shop {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-weight: 600;
      width: 200px;
      height: 45px;
      border: none;
      background-color: #ff4701;
      border-radius: 17px;
      transition: background-color 0.4s ease;
    }
    .shop:hover {
      background-color: white;
  
      color: #ff4701;
    }
    .text {
      color: rgba(255, 255, 255, 0.507) !important;
    }
  
    .order-summary {
      background-color: rgba(255, 255, 255, 0.089);
      height: 350px;
      border-radius: 10px;
      .icon-max {
        font-size: 25px !important;
      }
      input {
        width: 220px;
        border: none;
        outline: none;
        border-radius: 0px 10px 10px 0px;
        height: 40px;
        line-height: 50px;
        caret-color: #f13d45;
      }
      .input-group {
        border-radius: 10px !important;
      }
      p {
        font-size: 18px;
        font-weight: 600;
      }
      .discount {
        color: #ff4701;
      }
      .apply {
        width: 90px;
        height: 40px;
        border-radius: 13px;
        color: #ff4701;
        background-color: white;
        border: none;
        font-weight: 600;
        font-size: 14px;
        transition: background-color 0.3s ease;
      }
      .apply:hover {
        color: white;
        background-color: #ff4701;
        border: none;
        font-weight: 600;
      }
      span {
        font-size: 20px;
        background-color: white;
        color: #7d7d7d;
        border-radius: 10px 0px 0px 10px;
      }
      .checkout {
        background-color: #ff4701;
        width: 100%;
        height: 45px;
        border-radius: 7px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
      }
      .checkout:hover {
        background-color: white;
        border: 2px solid #ff4701;
        color: #f13d45;
        transition: background-color 0.3s ease;
      }
    }
    .img-order {
      img {
        width: 350px;
        height: 150px;
      }
    }
  }



  .light-app{
    .wishlist {
      background-color: #f5f7fa;
      color: rgb(0, 0, 0);
    
    
      .row-wish {
        min-height: 70vh;
      }
      h4 {
        cursor: pointer;
      }
      h1 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
        font-size: 45px;
      }
    
      img {
        width: 150px;
        border-radius: 10px;
      }
      .wishlist-detail {
        background-color: rgba(36, 36, 36, 0.14);
        width: 100%;
        height: 250px;
        border-radius: 10px;
        
    
        button {
          width: 140px;
          height: auto;
        }
    
        .prop {
          background-color: rgba(255, 255, 255, 0.24);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          width: 110px;
          font-size: 15px;
          border-radius: 20px;
        }
        .genre {
          font-size: 17px;
          color: rgba(255, 255, 255, 0.425);
          font-weight: 600;
        }
        .remove {
          background-color: transparent;
          border: none;
          color: rgba(255, 255, 255, 0.531);
        }
        .add {
          border: none;
          background-color: #ff4701;
          width: 130px;
          border-radius: 15px;
          color: white;
          font-size: 15px;
          font-weight: 500;
          transition: background-color 0.4s ease;
        }
        .add:hover {
          background-color: white;
          color: #ff4701;
        }
        .prev {
          font-size: 17px;
          color: #979696;
        }
        .price {
          font-size: 23px;
        }
        .star-p {
          background-color: rgba(0, 0, 0, 0.503);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(5px);
          font-size: 18px;
          border-radius: 20px;
          color: white;
          .star {
            font-size: 15px;
            color: yellow;
          }
        }
        .star-b {
          background-color: rgba(0, 0, 0, 0.503);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(5px);
          font-size: 18px;
          border-radius: 20px;
          // width: 60px;
          .star {
            font-size: 15px;
            color: yellow;
          }
        }
        .remove {
          color: white;
          font-size: 20px;
          background-color: rgba(157, 156, 156, 0.418);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transition: background-color 0.3s ease;
        }
        .desc {
          color: #979696;
          font-weight: 500;
        }
        .remove:hover {
          background-color: white;
          color: #ff4701;
        }
      }
      .clear {
        width: 150px;
        height: auto;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        color: #ffffff;
        font-weight: 600;
        background-color: rgb(0, 0, 0);
        transition: background-color 0.4s ease;
      }
      .clear:hover {
        color: white;
        background-color: #ff4701;
      }
      .empty {
        color: rgba(0, 0, 0, 0.507);
        font-weight: 600;
      }
      .shop {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        width: 200px;
        height: 45px;
        border: none;
        background-color: #ff4701;
        border-radius: 17px;
        transition: background-color 0.4s ease;
      }
      .shop:hover {
        background-color: rgb(0, 0, 0);
    
        color: #ffffff;
      }
      .text {
        color: rgba(255, 255, 255, 0.507) !important;
      }
    
      .order-summary {
        background-color: rgba(36, 36, 36, 0.14);
        height: 350px;
        border-radius: 10px;
        .icon-max {
          font-size: 25px !important;
        }
        input {
          width: 200px;
          border: none;
          outline: none;
          border-radius: 0px 10px 10px 0px;
          height: 40px;
          line-height: 50px;
          caret-color: #f13d45;
        }
        .input-group {
          border-radius: 10px !important;
        }
        p {
          font-size: 18px;
          font-weight: 600;
        }
        .discount {
          color: #ff4701;
        }
        .apply {
          width: 90px;
          height: 40px;
          border-radius: 13px;
          color: #ff4701;
          background-color: white;
          border: none;
          font-weight: 600;
          font-size: 14px;
          transition: background-color 0.3s ease;
        }
        .apply:hover {
          color: white;
          background-color: #ff4701;
          border: none;
          font-weight: 600;
        }
        span {
          font-size: 20px;
          background-color: white;
          color: #7d7d7d;
          border-radius: 10px 0px 0px 10px;
        }
        .checkout {
          background-color: #ff4701;
          width: 100%;
          height: 45px;
          border-radius: 7px;
          border: none;
          color: white;
          font-size: 18px;
          font-weight: 500;
        }
        .checkout:hover {
          background-color: white;
          border: 2px solid #ff4701;
          color: #f13d45;
          transition: background-color 0.3s ease;
        }
      }
      .img-order {
        img {
          width: 350px;
          height: 150px;
        }
      }
    }
  }

  @media(min-width:1440px){
   .order-summary{
    input{
      width: 280px!important;
    }
   }
  
  }


  @media(max-width:430px){
    .wishlist {
      background-color: black;
      color: white;
    
      .row-wish {
        min-height: 70vh;
      }
      h4 {
        cursor: pointer;
        font-size: 20px;
      }
      h1 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
        font-size: 45px;
      }
    
      img {
        width: 100px!important;
        border-radius: 10px;
        height: 150px;
      }
      .wishlist-detail {
        background-color: rgba(255, 255, 255, 0.089);
        width: 100%;
        height: 250px;
        border-radius: 10px;
    
        button {
          width: 140px;
          height: auto;
        }
    
        .prop {
          background-color: rgba(255, 255, 255, 0.24);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          width: 110px;
          font-size: 15px;
          border-radius: 20px;
        }
        .genre {
          font-size: 17px;
          color: rgba(255, 255, 255, 0.425);
          font-weight: 600;
        }
        .remove {
          background-color: transparent;
          border: none;
          color: rgba(255, 255, 255, 0.531);
          font-size: 15px!important;
        }
        .add {
          border: none;
          background-color: #ff4701;
          width: 130px;
          border-radius: 15px;
          color: white;
          font-size: 15px;
          font-weight: 500;
          transition: background-color 0.4s ease;
        }
        .add:hover {
          background-color: white;
          color: #ff4701;
        }
        .prev {
          font-size: 17px;
          color: #979696;
        }
        .price {
          font-size: 23px;
        }
        .star-p {
          background-color: rgba(0, 0, 0, 0.503);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(5px);
          font-size: 18px;
          border-radius: 20px;
          .star {
            font-size: 15px;
            color: yellow;
          }
        }
        .star-b {
          background-color: rgba(0, 0, 0, 0.503);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(5px);
          font-size: 18px;
          border-radius: 20px;
          // width: 60px;
          .star {
            font-size: 15px;
            color: yellow;
          }
        }
        .remove {
          color: white;
          font-size: 20px;
          background-color: rgba(157, 156, 156, 0.418);
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transition: background-color 0.3s ease;
        }
        .desc {
          color: #979696;
          font-weight: 500;
        }
        .remove:hover {
          background-color: white;
          color: #ff4701;
        }
      }
      .clear {
        width: 150px;
        height: auto;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        color: #ff4701;
        font-weight: 600;
        background-color: white;
        transition: background-color 0.4s ease;
      }
      .clear:hover {
        color: white;
        background-color: #ff4701;
      }
      .empty {
        color: rgba(255, 255, 255, 0.507);
        font-weight: 600;
      }
      .shop {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        width: 200px;
        height: 45px;
        border: none;
        background-color: #ff4701;
        border-radius: 17px;
        transition: background-color 0.4s ease;
      }
      .shop:hover {
        background-color: white;
    
        color: #ff4701;
      }
      .text {
        color: rgba(255, 255, 255, 0.507) !important;
      }
    
      .order-summary {
        background-color: rgba(255, 255, 255, 0.089);
        height: 350px;
        border-radius: 10px;
        .icon-max {
          font-size: 25px !important;
        }
        input {
          width: 200px;
          border: none;
          outline: none;
          border-radius: 0px 10px 10px 0px;
          height: 40px;
          line-height: 50px;
          caret-color: #f13d45;
        }
        .input-group {
          border-radius: 10px !important;
        }
        p {
          font-size: 18px;
          font-weight: 600;
        }
        .discount {
          color: #ff4701;
        }
        .apply {
          width: 90px;
          height: 40px;
          border-radius: 13px;
          color: #ff4701;
          background-color: white;
          border: none;
          font-weight: 600;
          font-size: 14px;
          transition: background-color 0.3s ease;
        }
        .apply:hover {
          color: white;
          background-color: #ff4701;
          border: none;
          font-weight: 600;
        }
        span {
          font-size: 20px;
          background-color: white;
          color: #7d7d7d;
          border-radius: 10px 0px 0px 10px;
        }
        .checkout {
          background-color: #ff4701;
          width: 100%;
          height: 45px;
          border-radius: 7px;
          border: none;
          color: white;
          font-size: 18px;
          font-weight: 500;
        }
        .checkout:hover {
          background-color: white;
          border: 2px solid #ff4701;
          color: #f13d45;
          transition: background-color 0.3s ease;
        }
      }
      .img-order {
        img {
          width: 350px;
          height: 150px;
        }
      }
    }
  
  }